@mixin d-flex-center {
  display : flex;
  align-items: center;
  justify-content: center;
}

@mixin d-flex {
  display : flex;
  align-items: center;
}

@mixin d-flex-column {
  display : flex;
  flex-direction: column;
}

@mixin d-shadow {
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
}


@mixin card {
    justify-content: space-between;
    padding: 10px 10px;
    margin: 10px 0;
    background: $secondary-color;
    border-radius: 15px;
    overflow: hidden;


    /* &:hover {
      padding: 0;
      height: 69px;
        .dish-name {
          position:relative;
          left: 10px;
          span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 150px;
          }
          p {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 150px;
          }
        }
        .price {
          position:relative;
          left: -40px;
          transform: translateX(-100%);
        }

        .cube {
          display: inline-block;
          align-items: center;
          padding: 25px 20px;
          color: $secondary-color;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 15px;
          background:rgba(153, 226, 208, 1);
          left: 100%;
          transform: translateX(-100%);

        }

        .move {
          @include d-flex;
        }
  }*/
}
/*     TEST condition en SASS
$width_dish-info : 800px;

@if ($width_dish-info < 360px) {

  .dish-info {
    &:hover {
      .dish-name {
        p {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 150px;
        }
        span {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 150px;
        }
      }
    }
  }
}
@else {
  .dish-info {
    &:hover {
      .dish-name {
        p {
          text-overflow: ellipsis;
          overflow: visible;
          white-space: nowrap;

        }
        span {
          text-overflow: ellipsis;
          overflow: visible;
          white-space: nowrap;

        }
      }
    }
  }
}
*/
