$font-stack-primary: 'Shrikhand', cursive;
$font-stack-secondary: 'Roboto', sans-serif;

$font-size-text: 18px;
$font-size-title: 26px;

$primary-color: black;
$secondary-color: white;

$bgd-color-primary: #f6f6f6;
$bgd-color-secondary: #EAEAEA;
$bgd-color-footer:#353535;
