$font-stack-primary: 'Shrikhand', cursive;
$font-stack-secondary: 'Roboto', sans-serif;

$font-size-text-1: 18px;
$font-size-text-2: 17px;
$font-size-text-3: 16px;
$font-size-text-4: 15px;
$font-size-title: 26px;

$primary-color: black;
$secondary-color: white;
$tertiary-color: rgba(147, 86, 220, 1);

$bgd-color-primary: #f6f6f6;
$bgd-color-secondary: #EAEAEA;
$bgd-color-footer:#353535;

$margin-center: 0 auto;
