@import 'composant';
@import 'mixins';
@import 'variables';



  body {
    background: darkgray;
  }


  h4, h5 {
    font-family: $font-stack-primary;
  }

  h1, h2, h3, p, span {
    font-family: $font-stack-secondary;
  }

  .fa-solid {
    padding-right: 20px;
  }

  .main-container {
    max-width: 100%;
    margin: $margin-center;

  }

  /*----------------HEADER------------------*/
  .header-title {
    padding: 20px 0;
    background: $secondary-color;
    text-align: center;
    @include d-flex-center;

      img {
        width: 200px;
        height: 30px;
    }
      h1 {
        margin: $margin-center;
    }
  }




  #header-location {
    @include d-flex-center;
    background: rgba(234, 234, 234, 1);
      .header-location-flex {
        @include d-flex-center;
        justify-content: center;
      }
  }
  .header-location-flex {
   input {
    padding: 15px 0px;
    margin: 0;
    font-weight: bolder;
    font-size: 16px;
    outline: none;
    border: none;
    background: $bgd-color-secondary;
    text-align: left;
    width: 150px;

  }
}
  .header-infos {
    background: $bgd-color-primary;
    padding: 30px 20px 50px 20px;
  }

  .header-infos-1 {
    font-weight: bold;
    padding: 0 40px;
    text-align: center;

      p {
        margin: 10px auto;
    }
  }

  .header-infos-2 {
    font-weight: 300;
    text-align: center;

      p {
        margin: $margin-center;
    }
  }

  .btn-navigation {
    @include d-flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    height: 50px;
    color: white;
    width: 250px;
    text-align: center;
    margin: 30px auto 20px auto ;
    font-weight: bold;
    @include d-shadow;
    transition: box-shadow 1s ease;
    background-image: linear-gradient(90deg, rgba(255,121,218,1) 35%, rgba(147,86,220,1) 100%);

      p {
        margin:0;
      }
    &:hover {
      background-image: linear-gradient(90deg, rgb(239, 62, 189) 35%, rgb(131, 50, 229) 100%);
      box-shadow: 0px 3px 15px 1px  rgba(0, 0, 0, 0.3);

    }
  }


  /**************  MAIN  **************/

  /****** Fonctionnement *******/
  .fonctionnement {
    padding: 50px 20px;
    background: $secondary-color;

  }
  .fonctionnement > p {
    font-weight: bold;
    font-size: $font-size-title;
    padding: 0 0 20px 0;
    margin: 0 0;
    text-align: left;
  }

  .fonctionnement-step {
    @include d-flex;
    width: 97%;
    height: 40px;
    background: $bgd-color-primary;
    border-radius: 25px;
    padding: 20px 0px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 4px;
    box-shadow: 0px 3px 15px 1px  rgba(0, 0, 0, 0.3);
    span {
      padding: 5px 10px;
      margin-right: 20px;
      border-radius: 50px;
      color: $secondary-color;
      background: $tertiary-color;
      position: absolute;
      left: -12px;
   }
      i {
        position: absolute;
        left: 40px;
    }
    p {
      position: absolute;
      left: 80px;
    }
  }



  /******** Restaurants ********/
  .restaurants {
    padding: 50px 20px;
    background: $bgd-color-primary;
      a {
        text-decoration: none;
        color: $primary-color;
      }
  }

  .restaurants {
      p {
      font-weight: bold;
      font-size: 26px;
      padding: 0 0 20px 0;
      margin: 0 0;
      text-align: left;
    }
  }

  .page-restaurant-title {
    @include d-flex-center;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    h2 {
      font-family: $font-stack-primary;
      padding-right: 20px;
    }
  }
  .card-content {
    border-radius: 25px ;
    background: white;
    margin: 0 0 20px 0;
    text-decoration: none;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    position: relative;
    .new-label {
      color:$label-font;
      background: $label-background;
      font-family: $font-stack-secondary;
      padding: 5px 10px;
      border: 1px solid $label-background;
      text-align: center;
      border-radius: 3px;
      font-weight: 500;
      font-size: 14px;
      position:absolute;
      top: 20px;
      right: 20px;
      @include d-shadow;
    }
  }
  .card-img {
    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
    }
  }

  .card-infos {
    @include d-flex;
    justify-content: space-between;
    padding: 15px 20px;
    position: relative;
  }

  .card-name {
    p {
      font-size: $font-size-text-1;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
    span {
      font-size: $font-size-text-2;
      font-weight: 300;
      text-align: left;
    }
  }

  .fa-heart {
    color: rgb(208, 208, 208);
    opacity: 0.5;
    transition : color 2s ease;

      &:active {
        color: #FF79DA;
        opacity: 1;
      }

  }



  /******** Page de restaurant *********/

  .header-title2 {
    padding: 10px 0;
    background: whitesmoke;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    @include d-flex-center;

      img {
        width: 220px;
        height: 50px;
    }
      h1 {
        margin: $margin-center;
    }
      .fa-arrow-left {
        position:absolute;
        left:20px;
    }
  }

  .header-img {
    overflow: hidden;
    width : 100%;
    img {
      width : 100%;
      max-height : 300px;

      }
  }
  .page-restaurant {
    padding: 40px 20px 20px 20px;
    margin-top:-60px;
    background: $bgd-color-primary;
    position:relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
     h2 {
      margin: 0;
      font-size: 28px;
     }
  }

  .section-dish {
    margin-bottom: 40px;
  }

  .section-dish-entree {
    animation: appear-resto 6s forwards ease-in-out;
  }
  .section-dish-plat {
    animation: appear-resto 12s forwards ease-in-out;
  }
  .section-dish-dessert {
    animation: appear-resto 18s forwards ease-in-out;
  }

  .section-dish-title {
    border-bottom: 3px solid rgba(153, 226, 208, 1);
    padding-bottom: 0px;
    width: 40px;
    margin-bottom: 20px;
      p {
        margin: 10px 0 5px 0;

      }
  }
  .dish-info {
    @include d-flex;
    @include d-shadow;
    @include card;

    .dish-name {
    @include d-flex-column;
     min-width: 0;
      p {
        font-weight: bold;
        margin: 0;
        padding: 3px 10px;
        overflow: visible;
      }
      span {
        margin: 0;
        padding: 3px 10px;
        font-weight: 300;
        font-size: $font-size-text-4;
        overflow: hidden;
      }

    }
    .price {
      font-size : $font-size-text-4;
      position: relative;
      top: 10px;
      right: 10px;
      font-weight: bold;
      left: 0;
      transition: left 330ms, transform 330ms;
      transition-timing-function: linear;
      display: inline-block;
      white-space: nowrap;

    }

  }
    .move {
      display: inline-block;
      white-space: nowrap;
      .cube {
        i {
          padding-right: 0px;
        }
      }
    }


  /*----------------FOOTER------------------*/
  footer {
    background: $bgd-color-footer;
    color: $secondary-color;
    padding: 10px 20px;
    display: flex;
    text-align: left;

    .footer-section {
      .footer-logo-mobile {
       h5 {
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        margin: 10px 0px;

        }
      }
    }
    .footer-link {
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        outline: none;
        text-decoration: none;
        color: $secondary-color;
        padding:7px 0;
        p {
          padding: 0;
          margin: 0;
        }

      }
    }
    .footer-link > p {
      margin: 7px 0 7px 0;
    }
    .footer-logo-desktop {
      h5 {
      display:none;
      }
    }
  }



/*************** version responsive  **********/

/* Medium Version Tablette superior than 767,98px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    background: $secondary-color;
  }

  .header-title {
    padding: 30px 0;
    img {
      width: 220px;
      height: 40px;
    }
  }
  .header-infos {
    background: $bgd-color-primary;
    padding: 10px 20px 10px 20px;
  }


  .fonctionnement-flex {
    @include d-flex;
  }
  .fonctionnement-step {
    @include d-flex;
    width: 30%;
    height: 40px;
    background: $bgd-color-primary;
    border-radius: 25px;
    padding: 20px 0px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    left: 4px;
    box-shadow: 0px 3px 15px 1px  rgba(0, 0, 0, 0.3);
    span {
      padding: 5px 10px;
      margin-right: 20px;
      border-radius: 50px;
      color: $secondary-color;
      background: $tertiary-color;
      position: absolute;
      left: -12px;
   }
      i {
        position: absolute;
        left: 40px;
    }
    p {
      position: absolute;
      left: 80px;
    }
  }



  .page-restaurant {
    padding: 40px 20px 20px 20px;
    width: 90%;
    margin: -40px auto 0 auto;
    background: $bgd-color-primary;
    position:relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

  }
  .page-restaurant-title {
    width: 90%;
    h2 {
      text-align: center;
      font-family: 'Shrikhand';
     }

  }
  .section-dish {
    margin: 0 auto 40px auto;
    width: 90%;

  }

  .section-dish-title {
    border-bottom: 3px solid rgba(153, 226, 208, 1);
    width: 40px;

  }
  .dish-info {
    width: 100%;
    margin: 10px auto;
  }

}

/* Notebook version superior than 1023px) */
@media screen and (min-width: 1024px)  {


  * {
    box-sizing: border-box;
  }

  .main-container {
    width: 100%;
    background: $secondary-color;
  }
  .header-title {
    padding: 30px 0;
    img {
      width: 220px;
      height: 40px;
    }
  }
  .header-infos {
    background: $bgd-color-primary;
    padding: 10px 20px 10px 20px;
  }
  .header-title2 {
      .fa-arrow-left {
        position:absolute;
        left:40px;

    }
  }

  .btn-navigation {
     width: 250px;
    }

  .fonctionnement {
    padding: 30px 10% 30px 10%;

      .fonctionnement-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }
  }
  .fonctionnement-flex {
    @include d-flex;

    max-width:1200px;
    margin: 0 ;
      .fonctionnement-step {
        height: 80px;
        width:31%;
      }
  }

  .header-img {
    img {
      max-height : 400px;
      object-fit: cover;
      }
  }
  .restaurants {
    padding: 30px 5%;
    width: 100%;
  }

  .restaurant-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }

  .restaurants-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  .card-content {
    width: 450px;
    margin: 10px 0;

    .card-img {
      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
      }
    }

    .card-infos {
      padding: 10px 20px;

      .card-name {
        p {
          padding-bottom: 0;
        }
      }
    }
  }


  .page-restaurant {
    padding: 40px 20px 20px 20px;
    width: 90%;
    max-width: 1200px;
    margin: -40px auto 0 auto;
    background: $bgd-color-primary;
    position:relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

  }
  .page-restaurant-title {
    width: 90%;
    h2 {
      text-align: center;
      font-family: 'Shrikhand';
      padding-right: 20px;
     }


  }
  .section-dish {
    margin: 0 auto 40px auto;
    width: 90%;

  }

  .section-dish-title {
    border-bottom: 3px solid rgba(153, 226, 208, 1);
    width: 40px;

  }
  .dish-info {
    width: 100%;
    margin: 10px auto;
    .dish-name {
      p {
        overflow: hidden;
        width: 350px;
      }
      span {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 350px;
      }
    }
  }


  /*----------------FOOTER------------------*/

footer {
  background: $bgd-color-footer;
  color: $secondary-color;
  padding: 50px 40px 20px 40px;

  .footer-section {
    @include d-flex;
    justify-content: center;
    width:100%;
    position:relative;
    left: 17%;
    padding:30px 0 20px 0;
    .footer-logo-mobile {
      display: none;
    }

    h5 {
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      margin: 10px 0px;
      padding-right:40px;
      padding-left:50px;

    }

  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    position:absolute;
    .footer-logo-desktop {
      h5 {
        display: flex;
      }
    }
  }
  .gap {
    margin: 0 10px;
  }
  .footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;

    .fa-solid{
      padding-right: 10px;
    }
    p {
      margin: 7px 0 7px 0;
    }
  }

}
}



 /* OVERLAY ANimation LOADER */

.overlay {
  display :flex;
  flex-direction: column;
  align-items:center;
  margin: 0 auto;
  border: 1px solid $label-font;
  background: linear-gradient(90deg, rgba(255,121,218,1) 35%, rgba(147,86,220,1) 100%);
  height: 1200px;
  animation: fadeinout 3s linear forwards;
  opacity: 0;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
}
@keyframes fadeinout {
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: 300px;
  }
  100% {
    height: 0px;
  }
}

.title-flex {
  display :flex;
  flex-direction: row;
  align-items:center;
  margin: 20px auto;
  width: 70%;
  justify-content: center;

  .gear1{
    width: 50px;
    height: 50px;
    animation: rotation1 3s infinite linear;
  }
  .gear2 {
    width: 30px;
    height: 30px;
    animation: rotation2 3s infinite linear;
  }
}

@keyframes rotation1 {
from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation2 {
  from {
      transform: rotate(359deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

.title > p {
  color: black;
  font-size:24px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px auto;
  text-align: center;
}

.progress {
  width: 50%;
  height: 50px;
  margin: 10px 10px;
  border:3px solid black;
  border-radius:50px;
  background: linear-gradient(90deg, rgba(255,121,218,1) 35%, rgba(147,86,220,1) 100%) left/0% 100% no-repeat
      #dbdcef;
    }

@keyframes progress-jgv380 {
  100% {
     background-size: 100% 100%;
  }
}

.progress-flex {
  @include d-flex;
  align-items: center;
  justify-content: space-around;
  width : 600px;
  p {
    width: 40%;
    text-align: right;
    color: $secondary-color;
    font-size: 18px;
    font-weight: bold;
  }
  #barre1 {
    animation: progress-jgv380 2s forwards linear;
  }
}

@keyframes appear {
  from {
     opacity: 0;
  }
  to {
    opacity: 1;
 }
}

.ready {
  text-align: center;
  color : $secondary-color;
  border: 2px solid white;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 40px 20px;
  background: linear-gradient(90deg, rgba(255,121,218,1) 35%, rgba(147,86,220,1) 100%);
}


@keyframes appear-resto {
  from {
     opacity: 0;
  }
  to {
    opacity: 1;
 }
}
