@import 'card';
@import 'mixins';
@import 'variables';


body {
  background: darkgray;
}

.main-container {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;

}

h1, h2, h4, h5 {
	font-family: $font-stack-primary;
}

h3, p, span {
	font-family: $font-stack-secondary;
}

footer {
	background: $bgd-color-footer;
	color: $secondary-color;
	padding: 10px 20px;
	display: flex;
	text-align: left;

  .footer-section > h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 10px 0px;
  }
  .footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-link > p {
    margin: 7px 0 7px 0;
  }
}
