body {
  background: darkgray;
}

h4, h5 {
  font-family: "Shrikhand", cursive;
}

h1, h2, h3, p, span {
  font-family: "Roboto", sans-serif;
}

.fa-solid {
  padding-right: 20px;
}

.main-container {
  max-width: 100%;
  margin: 0 auto;
}

/*----------------HEADER------------------*/
.header-title {
  padding: 10px 0;
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title img {
  width: 200px;
  height: 30px;
}
.header-title h1 {
  margin: 0 auto;
}

.header-location {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(234, 234, 234);
}

.header-location > p {
  padding: 15px 0px;
  margin: 0;
  font-weight: bolder;
  font-size: 16px;
}

.header-infos {
  background: #f6f6f6;
  padding: 30px 20px 50px 20px;
}

.header-infos-1 {
  font-weight: bold;
  padding: 0 40px;
  text-align: center;
}
.header-infos-1 p {
  margin: 10px auto;
}

.header-infos-2 {
  font-weight: 300;
  text-align: center;
}
.header-infos-2 p {
  margin: 0 auto;
}

.btn-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  height: 50px;
  color: white;
  width: 250px;
  text-align: center;
  margin: 30px auto 20px auto;
  font-weight: bold;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
  transition: box-shadow 1s ease;
  background-image: linear-gradient(90deg, rgb(255, 121, 218) 35%, rgb(147, 86, 220) 100%);
}
.btn-navigation p {
  margin: 0;
}
.btn-navigation:hover {
  background-image: linear-gradient(90deg, rgb(239, 62, 189) 35%, rgb(131, 50, 229) 100%);
  box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.3);
}

/**************  MAIN  **************/
/****** Fonctionnement *******/
.fonctionnement {
  padding: 50px 20px;
  background: white;
}

.fonctionnement > p {
  font-weight: bold;
  font-size: 26px;
  padding: 0 0 20px 0;
  margin: 0 0;
  text-align: left;
}

.fonctionnement-step {
  display: flex;
  align-items: center;
  width: 97%;
  height: 40px;
  background: #f6f6f6;
  border-radius: 25px;
  padding: 20px 0px;
  margin: 20px auto;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  left: 4px;
  box-shadow: 0px 3px 15px 1px rgba(0, 0, 0, 0.3);
}
.fonctionnement-step span {
  padding: 5px 10px;
  margin-right: 20px;
  border-radius: 50px;
  color: white;
  background: rgb(147, 86, 220);
  position: absolute;
  left: -12px;
}
.fonctionnement-step i {
  position: absolute;
  left: 40px;
}
.fonctionnement-step p {
  position: absolute;
  left: 80px;
}

/******** Restaurants ********/
.restaurants {
  padding: 50px 20px;
  background: #f6f6f6;
}
.restaurants a {
  text-decoration: none;
  color: black;
}

.restaurants p {
  font-weight: bold;
  font-size: 26px;
  padding: 0 0 20px 0;
  margin: 0 0;
  text-align: left;
}

.page-restaurant-title {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.card-content {
  border-radius: 25px;
  background: white;
  margin: 0 0 20px 0;
  text-decoration: none;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
}
.card-content .new-label {
  color: #008786;
  background: #99e2d0;
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
  border: 1px solid #99e2d0;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  position: absolute;
  top: 20px;
  right: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
}

.card-img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
}

.card-name p {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
.card-name span {
  font-size: 17px;
  font-weight: 300;
  text-align: left;
}

.fa-heart {
  color: rgb(208, 208, 208);
  opacity: 0.5;
  transition: color 2s ease;
}
.fa-heart:hover {
  color: #FF79DA;
  opacity: 1;
}

/******** Page de restaurant *********/
.header-title2 {
  padding: 10px 0;
  background: whitesmoke;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-title2 img {
  width: 220px;
  height: 50px;
  left: -20px;
  position: relative;
}
.header-title2 h1 {
  margin: 0 auto;
}
.header-title2 .fa-arrow-left {
  position: relative;
  left: -70px;
}

.header-img {
  overflow: hidden;
  width: 100%;
}
.header-img img {
  width: 100%;
  max-height: 300px;
}

.page-restaurant {
  padding: 40px 20px 20px 20px;
  margin-top: -60px;
  background: #f6f6f6;
  position: relative;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.page-restaurant h2 {
  margin: 0;
  font-size: 28px;
}

.section-dish {
  margin-bottom: 40px;
}

.section-dish-title {
  border-bottom: 3px solid rgb(153, 226, 208);
  padding-bottom: 0px;
  width: 40px;
  margin-bottom: 20px;
}
.section-dish-title p {
  margin: 10px 0 5px 0;
}

.dish-info {
  display: flex;
  align-items: center;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3));
  justify-content: space-between;
  padding: 10px 10px;
  margin: 10px 0;
  background: white;
  border-radius: 15px;
  overflow: hidden;
}
.dish-info .cube {
  position: absolute;
  left: 100%;
  top: 0px;
  transition: left 330ms, transform 330ms;
  transition-timing-function: linear;
  display: inline-block;
  align-items: center;
  padding: 25px 20px;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(153, 226, 208);
}
.dish-info:hover {
  text-overflow: ellipsis;
  padding: 0;
  height: 69px;
}
.dish-info:hover .dish-name {
  position: relative;
  left: 10px;
}
.dish-info:hover .price {
  position: relative;
  left: -40px;
  transform: translateX(-100%);
}
.dish-info:hover .cube {
  display: inline-block;
  align-items: center;
  padding: 25px 20px;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: rgb(153, 226, 208);
  left: 100%;
  transform: translateX(-100%);
}
.dish-info:hover .move {
  display: flex;
  align-items: center;
}
.dish-info .dish-name {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.dish-info .dish-name p {
  font-weight: bold;
  margin: 0;
  padding: 3px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish-info .dish-name span {
  margin: 0;
  padding: 3px 10px;
  font-weight: 300;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.dish-info .price {
  font-size: 15px;
  position: relative;
  top: 10px;
  right: 10px;
  font-weight: bold;
  left: 0;
  transition: left 330ms, transform 330ms;
  transition-timing-function: linear;
  display: inline-block;
  white-space: nowrap;
}

.move {
  display: inline-block;
  white-space: nowrap;
}
.move .cube i {
  padding-right: 0px;
}

/*----------------FOOTER------------------*/
footer {
  background: #353535;
  color: white;
  padding: 10px 20px;
  display: flex;
  text-align: left;
}
footer .footer-section .footer-logo-mobile h5 {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin: 10px 0px;
}
footer .footer-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer-link a {
  outline: none;
  text-decoration: none;
  color: white;
  padding: 7px 0;
}
footer .footer-link a p {
  padding: 0;
  margin: 0;
}
footer .footer-link > p {
  margin: 7px 0 7px 0;
}
footer .footer-logo-desktop h5 {
  display: none;
}

/*************** version responsive  **********/
/* Medium Version Tablette superior than 767,98px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-container {
    background: white;
  }
  .header-title {
    padding: 30px 0;
  }
  .header-title img {
    width: 220px;
    height: 40px;
  }
  .header-infos {
    background: #f6f6f6;
    padding: 10px 20px 10px 20px;
  }
  .fonctionnement-step {
    height: 50px;
    width: 35%;
  }
  .page-restaurant {
    padding: 40px 20px 20px 20px;
    width: 90%;
    margin: -40px auto 0 auto;
    background: #f6f6f6;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .page-restaurant h2 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 28px;
  }
  .page-restaurant-title {
    width: 90%;
  }
  .section-dish {
    margin: 0 auto 40px auto;
    width: 90%;
  }
  .section-dish-title {
    border-bottom: 3px solid rgb(153, 226, 208);
    width: 40px;
  }
  .dish-info {
    width: 100%;
    margin: 10px auto;
  }
}
/* Notebook version superior than 1023px) */
@media screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  .main-container {
    width: 100%;
    background: white;
  }
  .header-title {
    padding: 30px 0;
  }
  .header-title img {
    width: 220px;
    height: 40px;
  }
  .header-infos {
    background: #f6f6f6;
    padding: 10px 20px 10px 20px;
  }
  .header-title2 .fa-arrow-left {
    position: absolute;
    left: 40px;
  }
  .btn-navigation {
    width: 250px;
  }
  .fonctionnement {
    padding: 30px 10% 30px 10%;
  }
  .fonctionnement .fonctionnement-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .fonctionnement-flex {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0;
  }
  .fonctionnement-flex .fonctionnement-step {
    height: 80px;
    width: 31%;
  }
  .header-img img {
    max-height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants {
    padding: 30px 5%;
    width: 100%;
  }
  .restaurant-wrapper {
    max-width: 1000px;
    margin: 0 auto;
  }
  .restaurants-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .card-content {
    width: 450px;
    margin: 10px 0;
  }
  .card-content .card-img img {
    width: 100%;
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
  }
  .card-content .card-infos {
    padding: 10px 20px;
  }
  .card-content .card-infos .card-name p {
    padding-bottom: 0;
  }
  .page-restaurant {
    padding: 40px 20px 20px 20px;
    width: 90%;
    max-width: 1200px;
    margin: -40px auto 0 auto;
    background: #f6f6f6;
    position: relative;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .page-restaurant h2 {
    text-align: center;
    font-size: 28px;
    padding-right: 20px;
  }
  .page-restaurant-title {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .section-dish {
    margin: 0 auto 40px auto;
    width: 90%;
  }
  .section-dish-title {
    border-bottom: 3px solid rgb(153, 226, 208);
    width: 40px;
  }
  .dish-info {
    width: 100%;
    margin: 10px auto;
  }
  /*----------------FOOTER------------------*/
  footer {
    background: #353535;
    color: white;
    padding: 50px 40px 20px 40px;
  }
  footer .footer-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    left: 17%;
    padding: 30px 0 20px 0;
  }
  footer .footer-section .footer-logo-mobile {
    display: none;
  }
  footer .footer-section h5 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 10px 0px;
    padding-right: 40px;
    padding-left: 50px;
  }
  footer .footer-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
  }
  footer .footer-wrapper .footer-logo-desktop h5 {
    display: flex;
  }
  footer .gap {
    margin: 0 10px;
  }
  footer .footer-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10px;
  }
  footer .footer-link .fa-solid {
    padding-right: 10px;
  }
  footer .footer-link p {
    margin: 7px 0 7px 0;
  }
}
/* test */
.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  border: 10px solid #008786;
  background: #99e2d0;
  border-radius: 50px;
  width: 100%;
  height: 150%;
  animation: fadeinout 3s linear forwards;
  opacity: 0;
}

@keyframes fadeinout {
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    height: 200px;
  }
  100% {
    height: 0px;
  }
}
.title-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}
.title-flex .gear1 {
  width: 50px;
  height: 50px;
  animation: rotation1 3s infinite linear;
}
.title-flex .gear2 {
  width: 30px;
  height: 30px;
  animation: rotation2 3s infinite linear;
}

@keyframes rotation1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.title > p {
  color: black;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
}

.progress {
  width: 60%;
  height: 20px;
  border: 3px solid black;
  border-radius: 50px;
  background: linear-gradient(90deg, rgb(255, 121, 218) 35%, rgb(147, 86, 220) 100%) left/0% 100% no-repeat #dbdcef;
}

@keyframes progress-jgv380 {
  100% {
    background-size: 100% 100%;
  }
}
.progress-flex {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-around;
  width: 600px;
}
.progress-flex p {
  width: 40%;
  text-align: right;
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.progress-flex #barre1 {
  animation: progress-jgv380 330ms forwards linear;
}
.progress-flex #barre2 {
  animation: progress-jgv380 800ms forwards linear;
}
.progress-flex #barre3 {
  animation: progress-jgv380 1s forwards linear;
}
.progress-flex #barre4 {
  animation: progress-jgv380 2s forwards linear;
}
.progress-flex #barre5 {
  animation: progress-jgv380 3s forwards linear;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.ready {
  text-align: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  border: 5px solid white;
  border-radius: 50px;
  padding: 3px 10px;
  margin: 40px 0;
}/*# sourceMappingURL=style.css.map */