
h1, h2, h4, h5 {
	font-family: 'Shrikhand', cursive;
}

h3, p, span {
	font-family: 'Roboto', sans-serif;
}

body {
	background : darkgray;
}
.fa-solid {
	padding-right: 20px;
}

.main-container {
	width: 100%;
	max-width: 450px;
	background: beige;
	text-align: center;
	margin: 0 auto;
}

/**************  HEADER  **************/

header {
	width: 100%;
	background: skyblue;
}

.header-title {
	padding: 10px 0;
	background: whitesmoke;
	border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

.header-title > h1 {
	margin: 0 auto;
}
.header-location {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: rgba(234, 234, 234, 1);
}
.header-location > p {
	padding: 10px 0px;
	margin: 0;
	font-weight: bolder;
	font-size: 16px;
}

.header-infos {
	background: whitesmoke;
	padding: 30px 20px 50px 20px;
}

.header-infos-1 {
	font-weight: bold;
	font-size: 26px;
	padding: 0 40px;
}

.header-infos-2 {
	font-weight: 300;
	font-size: 18px;
}
.header-infos-1 > p {
	margin: 10px auto;
}

.header-infos-2 > p {
	margin: 0 auto;
}

.button-navigation {
	border-radius: 25px;
	border: 1px solid white;
	color: white;
	width: 60%;
	margin: 30px auto 20px auto ;
	font-weight: bold;
	box-shadow: 0 3px 10px #000000;
	background: linear-gradient(90deg, rgba(255,121,218,1) 35%, rgba(147,86,220,1) 100%);
	}
/**************  MAIN  **************/

.fonctionnement {
	padding: 50px 20px;
	background: white;
}
.Restaurants {
	padding: 50px 20px;
	background: whitesmoke;
}

.fonctionnement-step {
	display: flex;
	align-items: center;
  width: 97%;
  height: 40px;
	background: whitesmoke;
	border-radius: 25px;
	padding: 20px 0px;
	margin: 15px auto;
	font-weight: bold;
	font-size: 16px;
  position: relative;
  left: 4px;
}

.fonctionnement-step > span {
	padding: 5px 10px;
	margin-right: 20px;
	border-radius: 50px;
	color: white;
	background: rgba(147, 86, 220, 1);
  position: absolute;
  left: -10px;
}

.fonctionnement-step > i {
  position: absolute;
  left: 50px;
}

.fonctionnement-step > p {
  position: absolute;
  left: 90px;
}

/**************  FOOTER  **************/
footer {
	background: #353535;
	color: whitesmoke;
	padding: 10px 20px;
	display: flex;
	text-align: left;

}
.footer-section > h5 {
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	margin: 10px 0px;
}

.footer-link {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.footer-link > p {
	margin: 7px 0 7px 0;
}
